@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #1f2937; /* gray-800 */
  --container-bg: #d1d5db; /* gray-300 */
  --container-text: #1f2937; /* gray-800 */
  --button-bg: #8677ee;
  --button-text: #ffffff;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}

button {
  @apply bg-[var(--button-bg)] text-[var(--button-text)] px-4 py-2 rounded-md font-semibold transition-all duration-300;
}

button:hover {
  @apply opacity-80;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px;
  }
}
