@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #1f2937; /* gray-800 */
  --container-bg: #d1d5db; /* gray-300 */
  --container-text: #1f2937; /* gray-800 */
  --button-bg: #8677ee;
  --button-text: #ffffff;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}

.container,
.section,
.card,
.box {
  @apply bg-[var(--container-bg)] text-[var(--container-text)] p-4 rounded-lg shadow-md;
}

/* button {
  @apply bg-[var(--button-bg)] text-[var(--button-text)] px-4 py-2 rounded-md font-semibold transition-all duration-300;
}

button:hover {
  @apply opacity-80;
} */

@media (max-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px;
  }
}

.dark {
  --background: #1f2937;
  --foreground: #ffffff;
  --container-bg: #374151; /* dark gray */
  --container-text: #ffffff;
}

h1 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #0a3875;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6e6f8b;
}
